<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="header :: header">
<div>
<link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bankofspring.css" 
th:href="@{/resources/css/bankofspring.css}"/>
</div>
</div>
<body>
<div th:replace="logo :: logo"></div>
<h1>Choose Account</h1>
<div th:replace="transferprogress :: transferprogress" >
</div>

<div>
<form action="#" method="post" th:action="${flowExecutionUrl}" th:object="${transfer}">
  <div>
	<input th:text="#{transfer.ownaccount}" th:field ="*{transferToOwnAccount}" name="whichaccount" type="radio" value="true" checked="checked"> Own Account </input>
	</div>
	<input th:text="#{transfer.otheraccount}" th:field ="*{transferToOwnAccount}" name="whichaccount"  type="radio" value="false"> Other Account </input>
	<p/>
	<input type="submit" name="_eventId_internalExternalChoiceMade" value="proceed"/>
	<input type="submit" name="_eventId_cancel" value="cancel"/>
</form>
</div>

</body>
</html>