<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="header :: header">
<div>
<link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bankofspring.css" 
th:href="@{/resources/css/bankofspring.css}"/>
</div>
</div>
<body>
<div th:replace="logo :: logo"></div>
<H1 th:text="#{transfer.selectToAccount}"> Accounts List</H1>
<div th:replace="transferprogress :: transferprogress" >
</div>
<div class="bostable">
<table>
<thead>
<tr>
<th th:text="#{account.number}" >Account Number </th>
<th th:text="#{account.description}">Account Description </th>
<th th:text="#{account.balance}">Account Balance </th>
<th th:text="#{account.maxbalance}">Account Max Balance </th>
</tr>
</thead>
<tbody>
<tr th:each="account : ${accounts}">
<td><a th:text="${account.accountNumber}" th:href="@{${flowExecutionUrl}(_eventId='fromAccountSelected',accountNumber=${account.accountNumber})}" href="../views/editaccount.html">accountNumber</a></td>
<td th:text="${account.accountDescription}">Account Description </td>
<td th:text="${account.accountBalance}">Not Much </td>
<td th:text="${account.maxBalanceAmount}">Millions </td>
</tr>
</tbody>
</table>
<div>
<form method="post" action="#" th:action="${flowExecutionUrl}" >
<input type="submit" name="_eventId_cancel" value="cancel"/>
</form>
</div>
<br/>

</div>
<div th:replace="footer :: footer">
</div>
</body>

</html>