<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="header :: header">
<div>
<link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bankofspring.css" 
th:href="@{/resources/css/bankofspring.css}"/>
</div>
</div>
<body>
<div th:replace="logo :: logo"></div>
<H1 th:text="#{customer.list}"> Customer List</H1>
<div th:replace="transferprogress :: transferprogress" >
</div>
<div class="bostable">
<table>
<thead>
<th th:text="#{customer.id}">Customer Name </th>
<th th:text="#{customer.name}">Customer Name </th>
<th th:text="#{customer.email}">Customer Name </th>
<th th:text="#{customer.description}">Customer Name </th>
</thead>
<tbody>
<tr th:each="customer : ${customers}">
<td ><a th:text="${customer.id}" th:href="@{${flowExecutionUrl}(_eventId='customerSelected',customerId=${customer.id})}" href="../views/editcustomer.html">1</a> </td>
<td th:text="${customer.name}">smith </td>
<td th:text="${customer.email}">test@gmail.com </td>
<td th:text="${customer.description}">my customer </td>
</tr>
</tbody>
</table>
<br/>
</div>
<div>
<form method="post" action="#" th:action="${flowExecutionUrl}" >
<input type="submit" name="_eventId_cancel" value="cancel"/>
</form>
</div>
<div th:replace="footer :: footer">
</div>
</body>

</html>