<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!-- Plain object  -->
<bean id="HelloWorld" class="spring.training.weekone.helloworld.HelloWorldPOJO">
</bean>

<!-- Plain object construct injection -->
<bean id="HelloAnythingConstruct" class="spring.training.weekone.helloworld.HelloAnythingConstruct">
	<constructor-arg><value>You!</value>
	</constructor-arg>
</bean>

<bean id="HelloProp" class="spring.training.weekone.helloworld.HelloProp">
<property name="prop" value="Property"></property>

</bean>
</beans>
