<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="helloBean" class="com.bankofspring.hello.HelloWorldBean">
		<property name="name" value="I am the Spring Framework - Yay!!!" />
	</bean>
 
</beans>