<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<body>
<div th:fragment="transferprogress">
<p th:text="'From Account: '+  ${transfer.fromAccount}"> From Account: 1 </p>
<p th:text="'Amount: ' + ${transfer.Amount}"> Amount: 200 </p>
<p th:text="'To Account: '+  ${transfer.toAccount}"> To Account: 2 </p>
</div>
</body>
</html>

